<mat-toolbar color="primary">
  <button mat-button title="" routerLink="/">
    <img
      width="20"
      alt="hylerrix Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    开源爱好者月刊 · 凝果屋
  </button>
  <button mat-button title="开源月刊" routerLink="/browser">开源月刊</button>
  <!-- <button mat-button title="选刊指南" routerLink="/explore">选刊指南</button>
  <button mat-button title="行业报告" routerLink="/report">行业报告</button>
  <button mat-button title="历史今日" routerLink="/history">历史今日</button>
  <button mat-button title="网站文章" routerLink="/articles">网站文章</button> -->
</mat-toolbar>

<router-outlet></router-outlet>