<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <img class="docs-footer-angular-logo"
          src="#"
          alt="凝果屋 Logo">
        <span><a href="https://github.com/ningowood">凝果屋</a></span>
      </div>
    </div>

    <div class="docs-footer-version">
      <img class="angular-material-logo" src="../../../assets/img/angular-material-logo.svg"
           alt="Angular Material icon">
      <span class="version">Angular 版本: {{version}}</span>
    </div>

    <div class="docs-footer-copyright">
      <div>
        <span>凝果屋倾情打造 ©2020。</span>
        <a href="https://github.com/angular/components/blob/master/LICENSE">网站代码遵循 MIT 协议开源。</a>
        <span>网站文章遵循 CC BY 4.0 协议授权。</span>
      </div>
    </div>
  </div>
</footer>
