<header
  focusOnNavigation
  class="docs-header-background"
  id="main-content" aria-label="Get started"
>
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">开源爱好者月刊</h1>
      <h2>构建未来开源新风向</h2>
    </div>
    <div class="docs-header-start">
     <a mat-raised-button class="docs-button" routerLink="/browser">畅游开源</a>
    </div>
  </div>
</header>

<main class="docs-homepage-promo">
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-desc">
      <h2>开源，到底意味着什么？</h2>
      <p>让我们从这里整装出发，搭建你的开源认知。</p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a mat-raised-button class="docs-button" routerLink="/guide/getting-started" color="accent">
      畅游开源
    </a>
  </div>
</main>

<app-footer></app-footer>
